<div class="d-flex align-items-center justify-content-between mb-3">
    <h1 class="mb-0">Categorías</h1>
    <div class="ml-auto">
        <button class="btn btn-primary me-2" (click)="nuevaCategoria()">Nuevo</button>
        <button class="btn btn-success" (click)="volver()">Volver</button>
    </div>
</div>
<hr class="mx-auto w-100" style="height: 2px; background-color: black;">
<div class="d-flex flex-row">
    @for(categoria of arrCategoria; track categoria.idCategoria){
    <article class="col-12 col-sm-6 col-md-4 col-lg-3">
        <app-categoria-card [miCategoria] = "categoria"></app-categoria-card>
    </article>
    }
</div>
