<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center">Detalles de la solicitud</h3>
                </div>
                <div class="card-body">
                    @if (error) {
                        <div class="alert alert-danger text-center">{{ error }}</div>
                    }

                    @if (!error && solicitud) {
                        <p>Nombre: {{ solicitud.nombreVacante }}</p>
                        <p>Descripcion: {{ solicitud.descripcionVacante }}</p>
                        <p>Salario: {{ solicitud.salarioVacante }}</p>
                        <hr>
                        <p>Nombre: {{ solicitud.nombreUsuario }}</p>
                        <p>Apellido: {{ solicitud.apellidoUsuario }}</p>
                        <p>Email: {{ solicitud.emailUsuario }}</p>


                        <p>Fecha de solicitud: {{ solicitud.fecha | date:'longDate' }}</p>

                        


                        <div class="d-grid gap-2">
                            <button type="button" class="btn btn-primary mt-3" (click)="volver()">Volver</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
