<div class="card mb-3">
    <div class="row g-0">
            <div class="text-center">
                <div class="card-body">
                    <h5 class="card-title">{{miCategoria.nombre}}</h5>
                    <p>{{miCategoria.descripcion}}</p>
                    <!--<div class="d-flex flex-column align-items-center">
                        <app-botonera [parent]="'card'" [_id]="miUsuario._id" [nombre]="miUsuario.first_name"></app-botonera>
                    </div>-->
                </div>
            </div>
        
    </div>
</div>
