  <div class="d-flex align-items-center justify-content-between mb-2">
    <h2 class="mt-0">Gestión de Empresas</h2>
    <button class="btn btn-primary" (click)="nuevaEmpresa()">
      <i class="bi bi-plus-circle"></i> Nueva Empresa
    </button>
  </div>
  <hr class="mx-auto w-100" style="height: 2px; background-color: black;">

  <!--@if (error) {
  <div class="alert alert-danger" role="alert">
    {{error}}
  </div>
}-->

  @if (arrEmpresas.length === 0) {
    <div class="alert alert-info" role="alert">
      No se encuentran empresas
    </div>
  }  

  <div class="row">
    @for (empresa of arrEmpresas; track empresa.idEmpresa) {
      <div class="col-md-6 col-lg-4 mb-4">
        <app-empresa-card [miEmpresa]="empresa"></app-empresa-card>
        <div class="mt-2">
          <button class="btn btn-sm btn-primary me-2" (click)="update(empresa.idEmpresa!)">
            <i class="bi bi-pencil"></i> Editar
          </button>
          <button class="btn btn-sm btn-danger" (click)="delete(empresa.idEmpresa!)">
            <i class="bi bi-trash"></i> Eliminar
          </button>
        </div>
      </div>
    }
  </div>
  