<main class="container text-center">
    <h1>Mantenimientos</h1>
    <hr class="mx-auto w-100" style="height: 2px; background-color: black;">
        <div class="row">
            <div class="col-12 mb-3">
                <button class="btn btn-danger btn-lg w-100" style="padding: 15px;">Empresas</button>
            </div>
            <div class="col-12 mb-3">
                <button class="btn btn-primary btn-lg w-100" style="padding: 15px;">Usuarios</button>
            </div>
            <div class="col-12 mb-3">
                <button class="btn btn-success btn-lg w-100" style="padding: 15px;" (click)="categorias()">Categorías</button>
            </div>
        </div>
    </main>

