<div class="d-flex align-items-center justify-content-between mb-3">
    <h1 class="mb-0">Usuarios</h1>
    <div class="ml-auto">
        <button class="btn btn-primary me-2" (click)="nuevoUser()">Nuevo</button>
        <button class="btn btn-success" (click)="volver()">Volver</button>
    </div>
</div>
<hr class="mx-auto w-100" style="height: 2px; background-color: black;">
<div class="d-flex flex-column">
    @for(user of arrUsers; track user.email){
    <article class="mb-3 w-100">
        <app-user-card [miUser] = "user"></app-user-card>
    </article>
    }
</div>
