<div class="container py-4">
    @if (loading) {
      <div class="d-flex justify-content-center my-5">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Cargando...</span>
        </div>
      </div>
    }
  
    @if (error) {
      <div class="alert alert-danger text-center" role="alert">
        {{ error }}
      </div>
    }
  
    @if (!loading && !error) {
      <div class="row gy-4">
        @for (solicitud of solicitudes; track solicitud.idSolicitud) {
          <app-solicitud-card-cli [solicitud]="solicitud" (edit)="abrirFormulario(solicitud)" (delete)="eliminarSolicitud($event)"></app-solicitud-card-cli>
        }        
      </div>
    }

    @if(solicitudSeleccionada){
      <app-solicitud-update-form [solicitud]="solicitudSeleccionada" (guardar)="guardarSolicitudEditada($event)"></app-solicitud-update-form>
    }
   

  </div>